body {
    color: #000;
    background-color: rgb(102, 165, 202);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0 16px 32px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 16px;
    margin: 0;
}

a {
    color: #000;
}

img {
    width: 130px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(0, 25, 125);
}

.center {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}
